.wrapper section:first-child {
	background: $color-about;
	margin-top: 0;
	padding: 1rem;
}

.social-list {
    text-align: center;
}

.flex-gallery {
	@include flexy(wrap, space-around);
}

.flex-image {
	@extend .flex-block;
	img {
		@include images(50%);
		display: block;
		margin: 0 auto;
		margin-top: 2rem;
		border-radius: 50%;
	}
}

.flex-ul {
	@include flexy(wrap, left);
	li {
		margin: 2.5%;
		list-style: none;
	}
}