.wrapper {
	@include center-block(80%);
	background: $color-bg;
	padding: 0;
}

.center {
	text-align: center;
}

.centered {
	@include center-block(50%);
	text-align: center;
	line-height: 0.75rem;
    padding-bottom: 1rem;
	h2 {
		text-align: center;
	}
    .contact form, .contact form p {
        text-align: left;
        line-height: 1rem;
    }
    
    form label {
        margin-right: 0.5rem;
    }
    
    form textarea {
        width: 75%;
        height: 200px;
    }
    p:last-child {
        padding-bottom: 0.5rem;
    }
}

.flex-container {
	@include flexy(nowrap, space-around);
	.flex-block {
		flex: 1 50%;
		margin: 1rem;
		align-self: center;
	}
	.flex-block-top {
		flex: 1 50%;
		margin: 1rem;
		align-self: flex-start;
	}
}

.biography {
    margin: 1rem;
}

.inline-list {
    padding-left: 0;
    li {
	display: inline-block;
    }
}